.header__top {
    display: flex;
    height: 100px;
    &-logo {
        flex-shrink: 0;
        width: 90px;
        height: 90px;
    }
    .header__logo {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;
        margin-left: 30px;
    }
    &-content--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
    }
    &-content--email {
        font-size: 14px;
        line-height: 16px;
        color: $grey;
        padding-left: 25px;
        position: relative;
        &::before {
            content: "";
            background-image: url("../images/icons/message.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 0;
            top: 4px;
            width: 14px;
            height: 10px;
            opacity: 0.5;
        }
    }
    &-content--time {
        font-size: 14px;
        line-height: 16px;
        color: $grey;
        padding-left: 25px;
        position: relative;
        &::before {
            content: "";
            background-image: url("../images/icons/cloc.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 0;
            top: 2px;
            width: 12px;
            height: 12px;
            opacity: 0.5;
        }
    }
    &-content--list {
        display: flex;
    }
    &-list--item {
        font-size: 14px;
        line-height: 16px;
        color: $grey;
        margin-left: 20px;
        transition: color 0.5s;
        &:hover {
            color: $accent;
        }
    }
    &-content--title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $text-color;
        max-width: 180px;
        padding-left: 20px;
        border-left: 2px solid $accent;
        margin-right: 10px;
    }
    &-phone {
        display: flex;
        align-items: center;
    }
    &-phone--btn {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(#595c64, 0.2);
        margin-right: 15px;
        transition: border 0.3s;
        &:hover {
            border: 1px solid rgba(#595c64, 1);
        }
    }
    &-phone--number {
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: $text-color;
    }
    &-phone--bell {
        font-size: 12px;
        line-height: 14px;
        color: $accent;
        text-decoration: underline;
    }
    &-content--btns {
        display: flex;
    }
    &-calc--btn {
        display: flex;
        margin-left: 10px;
        background: linear-gradient(
                180deg,
                #ffffff -221.11%,
                rgba(255, 255, 255, 0) 193.51%
            ),
            #f36327;
        background-blend-mode: overlay, normal;
        span {
            display: block;
            margin-right: 8px;
            width: 16px;
            height: 16px;
            background-image: url("../images/icons/calc.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.header__bottom {
    background-color: #f0f0f1;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
    }
    &-select {
        position: relative;
        padding: 0 15px;
        select {
            font-size: 14px;
            line-height: 16px;
            color: $grey;
            border: none;
            background-color: transparent;
            appearance: none;
        }
        &::before {
            content: "";
            position: absolute;
            width: 9px;
            height: 13px;
            top: 2px;
            left: 0;
            background-image: url("../images/icons/maps-marker.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &::after {
            content: "";
            position: absolute;
            width: 9px;
            height: 7px;
            top: 5px;
            right: 0;
            background-image: url("../images/icons/arrow-down.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.menu {
    height: 100%;
    &__list {
        display: flex;
        font-size: 14px;
        line-height: 16px;
        color: $text-color;
        height: 100%;
    }
    &__list-item {
        display: flex;
        align-items: center;
        margin-left: 25px;
        height: 100%;
        transition: color 0.3s ease;
        cursor: pointer;
        &:hover {
            color: $accent;
            border-bottom: 2px solid $accent;
        }
    }
}

.promo {
    background: linear-gradient(97.39deg, #e1e1e3 -0.28%, #ffffff 100%);
    border-bottom: 6px solid $accent;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 85px;
        position: relative;
    }
    &__bg {
        margin-left: -355px;
        max-width: 943px;
        max-height: 611px;
        position: relative;
    }
    &__img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__content {
        max-width: 555px;
        color: $text-color;
    }
    &__content-title {
        font-family: $raleway;
        font-weight: 900;
        font-size: 51px;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 20px;
        span {
            font-weight: 400;
        }
    }
    &__content-desc {
        position: relative;
        padding-left: 80px;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 28px;
        &::before {
            content: "";
            width: 60px;
            height: 2px;
            background-color: $accent;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__content-text {
        font-size: 24px;
        line-height: 28px;
        color: $accent;
        margin-bottom: 27px;
    }
    &__content-btn {
        padding: 21px 55px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
    &__content-btn--orange {
        padding: 21px 65px;
        background-color: $accent;
        margin-right: 20px;
    }
    &__advantages {
        position: absolute;
        bottom: -85px;
        left: 0;
        right: 0;
    }
    &__advantages-items {
        display: flex;
        filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.08));
    }
    &__advantages-item {
        background-color: #fff;
        padding: 30px 35px;
        font-size: 16px;
        line-height: 120%;
        color: $text-color;
        border: 0.5px solid #e1e1e3;
        border-top: 6px solid transparent;
        border-bottom: none;
        transition: all 0.3s;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        &:hover {
            transform: scaleY(1.1);
            border-top: 6px solid $accent;
            box-shadow: 0px 4px 35px rgba(230, 98, 41, 0.25);
        }
    }
    &__advantages-item--top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__advantages-item--img {
        margin-right: 20px;
    }
    &__advantages-item--title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}
