@import "vars";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

body {
    font-family: $roboto;
    font-size: $global-size;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}

form {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.container-fluid {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    padding: 15px 30px;
    background: linear-gradient(
            180deg,
            #ffffff -153.33%,
            rgba(255, 255, 255, 0) 125.56%
        ),
        #404144;
    background-blend-mode: overlay, normal;
    position: relative;
    transition: box-shadow 0.3s;
    &:hover {
        box-shadow: 0px 4px 35px rgba(230, 98, 41, 0.5);
    }
}

.title {
    font-family: $raleway;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    color: $text-color;
    span {
        font-weight: 800;
    }
}

._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}

@import "home";
